@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

html, body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  --main-color: #d8d8d8;
  --header-height: 80px;
  --primary-color: #4ea2a4;
}

/** Navigation **/
nav {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--main-color);
  padding: 10px 50px;
  display: flex;
  box-sizing: border-box;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
}
nav a {
  cursor: pointer;
  padding: 10px 50px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
nav li:not(:last-child) {
  border-right: 2px solid #666666;
}
nav a.active {
  color: white;
}

/** Content **/
#content {
  transform: translateY(var(--header-height));
  padding: 30px 10px;
  height: calc(100% - var(--header-height));
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/** Header **/
.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-container input {
  width: 300px;
}

/** Pagination buttons **/
.pagination-buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/** Button **/
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
button i.material-icons {
  color: var(--primary-color);
  font-size: 28px;
}
.prev i.material-icons {
  transform: rotate(180deg);
}

/** User card **/
.user {
  background-color: var(--primary-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.user .username {
  margin-top: 20px;
}
.user img {
  height: 200px;
  width: 200px;
}

/** Repo **/
.repo {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  margin-bottom: 20px;
}
